@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Caprasimo&family=Caveat&family=Concert+One&family=Francois+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IN&family=Quicksand:wght@300..700&family=Rubik+Vinyl&family=Rubik+Wet+Paint&family=Varela+Round&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(0.8958 0.0405 133.76);
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(0.3459 0.0513 202.78);
  --color-primary: oklch(0.9551 0.0168 137.02);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(0.6952 0.0566 147.38);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
@theme{
  --font-custom:"Quicksand", sans-serif;
  --font-weight-md:300;
  --text-head:24px;
  --text-sup-head:18px;
  --text-content:15px;
  --text-btn:14px;
}